 {% extends 'base.html' %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                   


                    
                        
                    
                    <div class="apply_job_form white-bg">
                        {% block content %}
                        
                        
                        
                        
                        {% endblock content  %}









                    </div>
                </div>
                
            </div>
        </div>
    </div>

    {% endblock body %}